/*
colors {
	blue: #1d4db9
	violeta: #4520bd
	blavet: #0aaaaa
	altre: #1d4db9
}
*/
@font-face {
	font-family: 'AmongUs';
	src: url('AmongUs-Regular.ttf') format('truetype');
  }
body {
	background-color: #69ffff;
}

input[type=number]{
	height: 3rem;
    font-size: 1.3rem;
    font-weight: bold;
    width: 3rem;
    text-align: center;
}

#title{
	border-style:solid;
	border-width:1px black;
	font-weight: bold;
	/*font-size: 26px;*/
	font-size: 20px;
	line-height: 75px;
	/*font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;*/
	font-family:'AmongUs';
}

.menu-object{
	font-family:'Courier New', Courier, monospace;
	display:block;
	margin-left: auto;
	margin-right: auto;
	width: 300px;
	height: 75px;
	font-size: 16px;
	font-size: 24px;
	margin-top: 10px;
	color: ivory;
	
	background-color: #0f3ba4;
	border-radius: 25px;
	border-style:solid 1px black;
	/*background-image: linear-gradient(rgb(16, 0, 245), rgb(0, 138, 0));*/
	transition-duration: 0.6s;
}

.menu-object:hover{
	background-image: linear-gradient(#4520bd, #0aaaaa);
	font-weight: bold;
	border-style:dashed;
	color:aliceblue;
	text-shadow: 2px 2px #222222;
	
}

p{
	text-align: center;
}

button.menu-object:active{
	font-size: 18px;
	width: 275px;
	height: 70px;
	
}

button.menu-object:hover:not(:active){
	font-size: 22px;
	width: 325px;
	height: 85px;
	
}

/* LOGO */
#logoJoc {
	display:block;
	margin:auto;
}

.moneda {
	stroke:gold;
	fill:yellow;
	stroke-width:4;
}

.sombraMoneda {
	stroke:rgb(202, 172,0);
	stroke-width:4;
}

.sombra {
	stroke:rgb(202, 172,0);
	stroke-width:4;
}

.lletra {
	stroke:rgb(255,217,0);
	stroke-width:4;
}

.lletraC {
	stroke:rgb(255,217,0);
	stroke-width:6;
}

#logoJoc:hover .moneda {
	stroke:#4520bd;
	fill: #0aaaaa;
	stroke-width:5;
}

#logoJoc:hover .sombraMoneda {
	stroke:rgb(41, 3, 255);
	stroke-width:5;
}

#logoJoc:hover .sombra {
	stroke:rgb(255, 255, 255);
	stroke-width:5;
}

#logoJoc:hover .lletra {
	stroke:rgb(41, 3, 255);
	stroke-width:5;
}

#logoJoc:hover .lletraC {
	stroke:rgba(20, 200, 0, 0.751);
	stroke-width:6;
}

#logoJoc:hover {
    filter: drop-shadow(3px 5px 2px rgb(0 0 0 / 0.4));     
    animation:change 2s infinite linear alternate;
}
@keyframes change {
to {
    background-position:right;
}
  }
